<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/public/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/public/css/reset.css">
  <link rel="stylesheet" href="/public/css/cabecalho.css">
  <title>La Nelli</title>
</head>
<body>
  <%- include('../cabecalho.ejs') %>

  <main>
    <h2>Adicionar Cliente</h2>

    <form method="dialog" onsubmit="submeterFormulario()">
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" name="nome" id="nome" class="form-control">
      </div>

      <div class="mb-3">
        <label for="telefone" class="form-label">Telefone</label>
        <input type="number" name="telefone" id="telefone" class="form-control">
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" name="email" id="email" class="form-control">
      </div class="mb-3">

      <div class="mb-3">
        <label for="cep" class="form-label">CEP</label>
        <div class="input-group">
          <input type="number" name="cep" id="cep" class="form-control">
          <button type="button" class="btn btn-primary" onclick="pesquisarCep()">Pesquisar</button>
        </div>
      </div>

      <div class="mb-3">
        <label for="logradouro" class="form-label">Logradouro</label>
        <input type="text" name="logradouro" id="logradouro" class="form-control">
      </div>

      <div class="mb-3">
        <label for="num" class="form-label">Nº</label>
        <input type="number" name="num" id="num" class="form-control">
      </div>

      <div class="mb-3">
        <label for="bairro" class="form-label">Bairro</label>
        <input type="text" name="bairro" id="bairro" class="form-control">
      </div>

      <div class="mb-3">
        <label for="cidade" class="form-label">Cidade</label>
        <input type="text" name="cidade" id="cidade" class="form-control">
      </div>

      <div class="mb-3">
        <label for="uf" class="form-label">UF</label>
        <input type="text" name="uf" id="uf" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary">Gravar</button>
    </form>
  </main>

  <%- include('../rodape.ejs') %>
  <script src="/public/bootstrap.bundle.min.js"></script>
  <script src="/public/axios.min.js"></script>
  <script src="/public/sweetAlert2.js"></script>
  <script src="/public/js/autenticacao.js"></script>
  <script>
    function pesquisarCep() {
      const cep = document.querySelector('#cep').value;
      const num = document.querySelector('#num').value;
      const logradouro = document.querySelector('#logradouro');
      const bairro = document.querySelector('#bairro');
      const cidade = document.querySelector('#cidade');
      const uf = document.querySelector('#uf');

      axios.get(`https://viacep.com.br/ws/${cep}/json/`)
        .then(response => {
          const { data } = response;

          logradouro.value = data.logradouro;
          bairro.value = data.bairro;
          cidade.value = data.localidade;
          uf.value = data.uf;
        })
        .catch(error => {
          console.log(error.response.data);
        })
    }

    function submeterFormulario() {
      const nome = document.querySelector('#nome').value;
      const telefone = document.querySelector('#telefone').value;
      const email = document.querySelector('#email').value;
      const num = document.querySelector('#num').value;
      const logradouro = document.querySelector('#logradouro').value;
      const bairro = document.querySelector('#bairro').value;
      const cidade = document.querySelector('#cidade').value;
      const uf = document.querySelector('#uf').value;
      const cep = document.querySelector('#cep').value;

      const endereco = `${logradouro}, ${num}, ${bairro}, ${cidade} - ${uf}. cep: ${cep}`;

      axios.post('<%= urlApi %>/clientes', {
        nome,
        telefone,
        email,
        endereco,
      }, {
        headers: {
          authorization: localStorage.getItem('token'),
        },
      })
        .then(response => {
          Swal.fire({
            title: "Sucesso!",
            text: response.data.mensagem,
            icon: "success"
          });
        })
        .catch(error => {
          Swal.fire({
            title: "Erro!",
            text: error.response.data.mensagem,
            icon: "error"
          });
        })
    }
  </script>
</body>
</html>