<footer>
  <nav>
    <ul>
      <li><strong>Desenvolvido por</strong>: Iago Azevedo Costa Pereira</li>
      <li><strong>Whatsapp</strong>: 11 9 8067-5993</li>
      <li><strong>Email</strong>: iago.acpereira@gmail.com</li>
    </ul>
  </nav>
</footer>