a,
a.btn:hover{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
ul{
  padding: 0;
  list-style: none;
}
body{
  min-height: 100vh;
}
header{
  height: 15vh;
}
main{
  min-height: 85vh;
}